<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Rowan V">

    <title>Chi Collector: Freelance Work Aggregator</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css">



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block header_script %}
    {% endblock %}



</head>


<body>
	<div class='body'>
	<h1>Chi Collector: Freelance Work Aggregator</h1>


	<form action="/" method="post">
    	{% csrf_token %}
    	{{ form }}
    	<input type="submit" value="Submit" />
	</form>
	<div class='table-responsive form-inputs'>
		<table class='table table-striped'>



			<thead>
				<tr>
					<th>Will Apply</th>
					<th>Applied</th>
					<th>Title</th>
					<th>Score</th>
					<th>Source</th>
					<th>Summary</th>
					<th>Time Written</th>
				</tr>
			</thead>
			<tbody>
		{% if postings_list %}
			{% for post in postings_list %}
				<tr>
					<td>
						<div class='checkbox'>
						<label>
							<input type='checkbox' {% if post.will_apply %} checked {% endif %}
						</label>
						</div>
					</td>
					<td>
						<div class='checkbox'>
						<label>
							<input type='checkbox' {% if post.applied %} checked {% endif %}
						</label>
						</div>
					</td>
					<td>{{ post.title }}</td>
					<td>{{ post.score }}</td>
					<td>{{ post.source }}</td>
					<td>{{ post.summary }}</td>
					<td>{{ post.time_written }}</td>
				</tr>
			{% endfor %}
		{% endif %}
			</tbody>

		</table>
	</div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>

        <script>


</script>

</div>
</body>

</html>
